* {
	box-sizing: border-box;
}

body {
	background: rgba(27,1,45,1);
	background: -moz-linear-gradient(top, rgba(27,1,45,1) 0%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(27,1,45,1)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(27,1,45,1) 0%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(27,1,45,1) 0%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(27,1,45,1) 0%, rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(27,1,45,1) 0%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b012d', endColorstr='#000000', GradientType=0 );
}

///// BACKGROUNDS

#colour, #dots {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#colour {
  z-index: -1;
  background: url(../img/bg-coloured.png) repeat;
  background-size: 750px 750px;
  opacity: 0.8;
}

#dots {
  z-index: -2;
  background: url(../img/bg-tinywhite.png) repeat;
  opacity: 0.65;
  background-size: 750px 750px;
}


///// LEFT

img.icon {
	width: 100px;
	height: 100px;
	border-radius: 20px;
	box-shadow: 0px 1px 60px rgba(255,255,255,0.2), 0 0px 5px rgba(255,255,255,0.12), 0px 1px 60px rgba(255,255,255,0.05);
	@include break(medium) {
		width: 116px;
		height: 116px;
		border-radius: 24px;
	}
	@include break(large) {
		width: 128px;
		height: 128px;
		border-radius: 28px;
	}
}

h1 {
	font-family: "SF UI Display", "Helvetica Neue";
	font-size: 19px;
	padding-top: 5px;	
	font-weight: 700;
	margin: 0.15em 0 0.2em;
	@include break (medium) {
		font-size: 22px;
		margin: 0.25em 0;
	}
	@include break (large) {
		font-size: 22px;
		margin: 0.25em 0;
	}
}

h2 {
	font-size: 15px;
	font-weight: 400;
	opacity: 0.8;
	display: block;
	margin: 0 auto;
	max-width: 300px;
	line-height: 1.4;
	margin-bottom: 1em;
	@include break(medium-and-large) {
		margin-top: 0.45em;
		font-size: 17px;
		font-style: italic;
		letter-spacing: -0.25px;

	}
}

ul.features {
	padding: 0px;
	max-width: 100%;
	display: inline-block;
	@include break(large) {
		max-width: 80%;
		margin: 1em 0 1.25em;
	}
	li {
		font-size: 17px;
		font-weight: 600;
		line-height: 2.4;
		text-align: left;
		list-style: none;
		&:before{
			content: '';
			display: inline-block;
			position: relative;
			height: 24px;
			width: 24px;
			background: url('../img/tick.svg') no-repeat;
			margin-right: 12px;
			top: 3px;
		}
		@include break(medium-and-large) {
			font-size: 20px;
		}
	}
}

.download {
	display: inline-block;
	margin: 0;
	width: 100%;
	margin: 30px 0 40px;
	
	.button {
		max-width: 220px;
		transition: all 0.25s ease;
		&:hover {
			box-shadow: 0 0 48px rgba(255,255,255,0.4);
		}
	}
}



///// RIGHT

.marvel-device {
	margin: 40px 0;
	box-sizing: content-box;
	@include break(large) {
		margin: 0;
	}

	.screen > .video img {

	}
  
  cursor: pointer;
}

#video {
	position: relative;
	width: 375px;
	height: 667px;
	img {
		width: 100%;
		height: 100%;
	}
}

video {
  width: 100%;
}

#play {
	background: #fff rgba(255,255,255,0.5);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10;
}

#play img {
	position: absolute;
	width: 120px;
	height: 120px;
	top: 250px;
	left: 129px;
}

.links {
	display: none;
	@include break(large) {
		display: block;
	}
	ul {
		padding: 0px;
		max-width: 100%;
		display: inline-block;
		@include break(large) {
			max-width: 80%;
			margin: 1em 0 1.25em;
		}
		li {
			float: left;
			max-width: 100%;
			font-size: 16px;
			text-transform: lowercase;
			font-variant: small-caps;
			letter-spacing: 0.5px;
			font-weight: 500;
			margin-right: 20px;
			list-style-type: none;
			a {
				color: #fff;
				opacity: 0.65;
				transition: all 0.3s ease;
				text-decoration: none;
			}
			a:hover {
				opacity: 1;
			}
		}
		li:last-child {
			margin-right: 0;
		}
	}
}

footer > .links { 
	text-align: center;
	display: block;
	margin-bottom: 2em;
	@include break(large) {
		display: none;
	}
}



///// FLEXBOX 

.flexbox .flex-split {
	display:flex;
	flex-direction: column;
	text-align: center;
	padding: 40px 20px;

	@include break(large) {
		flex-direction: row;
		margin: 0 auto;
		max-width: 100vw;
		min-height: 100vh;
		align-items: center; 
		justify-content: center;
		padding: 0px;
	}
}

.flex-split-left {
	@include break(large) {
		width: 640px;
	}
}

.flex-split-right {
	@include break(large) {
		width: 550px;
	}
}

// .flex-split > div {
// 	@include break(large) {
// 		width:50%;
// 	}
// }

///// NO FLEXBOX

.no-flexbox .flex-split {
	position:relative;
	min-height: 800px;
	min-width: 800px;
}

.no-flexbox .flex-split > div {
	min-height:50vh;
	top:0;
	bottom:0;
	float:left;
	position:absolute;
}

.no-flexbox .flex-split-left {
	left:0;
}
.no-flexbox .flex-split-right {
	right:0;
}


@media only screen and (max-device-width: 499px){
  #video{
    width: 90vw !important;
    height: auto !important;
  }
  #play{
    display: none;
  }
}
