body {      
    font-family: "SF UI Text", "Helvetica Neue", sans-serif;
    letter-spacing: 0.5px;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
}

h1, h2, h3 { line-height: 1.5; }

h1 {      font-size: 24px; }
h2 {      font-size: 24px; }
h3 {      font-size: 24px; }
li {      font-size: 24px; }

blockquote {  font-size: 32px; }
p {           font-size: 20px; }

small, .small {       font-size: 12px; }



